* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  color: var(--light-txt-color);
  background-color: var(--accent-bg-cl);
}

ul {
  list-style-type: none;
}

a {
  color: currentColor;
  text-decoration: none;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// .container {
//   max-width: 320px;
//   margin: 0 auto;
//   padding: 0 20px;

//   @media screen and (min-width: 768px) {
//     max-width: 768px;
//     padding: 0 32px;
//   }

//   @media screen and (min-width: 1140px) {
//     max-width: 1140px;
//   }
// }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.diagram__list {
  min-width: 530px;
  height: 450px;
  background-color: rgba(237, 239, 241, 0.7);
  display: flex;
  flex-shrink: 1;
  justify-content: center;
  gap: 15px;
  align-items: flex-end;
  @media screen and (min-width: 1140px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

h1 {
  width: 500px;
  text-align: center;
  color: black;
  margin: 15px auto;
}

.diagram__item {
  width: 20%;
}

.diagram__link {
  position: relative;
  width: 100%;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.cort {
  width: 100%;
  min-width: 30px;
  display: flex;
  flex-shrink: 0;
  height: 100px;
  max-height: 100%;
  background-color: #54545430;
  border-radius: 4px;
  @media screen and (min-width: 1140px) {
  position: relative;
  height: 70px;
left: 0;
  align-items: center;
  }
}
 .backblaze-img{
  margin-bottom: -97px;
  @media screen and (min-width: 1140px) {
  transform: scale(0.9);
  position: absolute;
  left: 0;
  top: 0;
    transform: translateY(-50%);
  }
}
 .bunny-img{
  margin-bottom: -106px;
  @media screen and (min-width: 1140px) {
    transform: scale(0.9);
    position: absolute;
    left: 0;
    top:  2%;
    transform: translateY(-50%);
  }
}
 .scaleway-img{
  margin-bottom: -86px;
  @media screen and (min-width: 1140px) {
    transform: scale(1.12);
    position: absolute;
    left: 4%;
    top: 10%;
    transform: translateY(-50%);
  }
}
 .vultr-img{
  margin-bottom: -81px;
  @media screen and (min-width: 1140px) {
    transform: scale(1.25);
    position: absolute;
    left: 4%;
    top: 18%;
    transform: translateY(-50%);
  }
}
.diagram__img{
  @media screen and (min-width: 1140px) {
  opacity: 0.6;
  }
}


.label-wrap {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  & label {
    display: flex;
    gap: 5px;
    align-items: flex-start;
    color: black;
  }
}

.text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: medium;
}
.cost{
  position: relative;
  z-index: 15;
  display: flex;
}
.diagram__img {
  border-radius: 50%;
}

.form {
  display: flex;
  flex-direction: column;
  width: 50%;
  gap: 15px;
  padding-top: 106px;
  padding-left: 50px;

  & label {
    color: black;
  }
}

span {
  margin: 0 auto;
  margin-top: -18px;
  color: black;
}


#HDD,
#SSD,
#Multi,
#Single {
  position: relative;

  &:checked::after {
    content: '';
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #db678f;
  }

}


input[type=range].styled-slider {
  height: 2.2em;
  -webkit-appearance: none;
}


input[type=range].styled-slider.slider-progress {
  --range: calc(var(--max) - var(--min));
  --ratio: calc((var(--value) - var(--min)) / var(--range));
  --sx: calc(0.5 * 2em + var(--ratio) * (100% - 2em));
}

input[type=range].styled-slider:focus {
  outline: none;
}


input[type=range].styled-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  background: rgb(207 30 90 / 96%);
  border: none;
  box-shadow: 0 0 2px black;
  margin-top: calc(max((1em - 1px - 1px) * 0.5, 0px) - 2em * 0.5);
}

input[type=range].styled-slider::-webkit-slider-runnable-track {
  height: 1em;
  border: 1px solid #b2b2b2;
  border-radius: 0.5em;
  background: #FBF2F2;
  box-shadow: none;
}

input[type=range].styled-slider:hover::-webkit-slider-runnable-track {
  background: #e5e5e5;
}

input[type=range].styled-slider:active::-webkit-slider-runnable-track {
  background: #f5f5f5;
}

input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
  background: linear-gradient(#FFFFFF, #FFFFFF) 0/var(--sx) 100% no-repeat, #FBF2F2;
}

input[type=range].styled-slider.slider-progress:hover::-webkit-slider-runnable-track {
  background: linear-gradient(#FFFFFF, #FFFFFF) 0/var(--sx) 100% no-repeat, #e5e5e5;
}

input[type=range].styled-slider.slider-progress:active::-webkit-slider-runnable-track {
  background: linear-gradient(#FFFFFF, #FFFFFF) 0/var(--sx) 100% no-repeat, #f5f5f5;
}

/*mozilla*/
input[type=range].styled-slider::-moz-range-thumb {
  width: 2em;
  height: 2em;
  border-radius: 1em;
  background: rgb(207 30 90 / 96%);
  border: none;
  box-shadow: 0 0 2px black;
}

input[type=range].styled-slider::-moz-range-track {
  height: max(calc(1em - 1px - 1px), 0px);
  border: 1px solid #b2b2b2;
  border-radius: 0.5em;
  background: #FBF2F2;
  box-shadow: none;
}

input[type=range].styled-slider:hover::-moz-range-track {
  background: #e5e5e5;
}

input[type=range].styled-slider:active::-moz-range-track {
  background: #f5f5f5;
}

input[type=range].styled-slider.slider-progress::-moz-range-track {
  background: linear-gradient(#FFFFFF, #FFFFFF) 0/var(--sx) 100% no-repeat, #FBF2F2;
}

input[type=range].styled-slider.slider-progress:hover::-moz-range-track {
  background: linear-gradient(#FFFFFF, #FFFFFF) 0/var(--sx) 100% no-repeat, #e5e5e5;
}

input[type=range].styled-slider.slider-progress:active::-moz-range-track {
  background: linear-gradient(#FFFFFF, #FFFFFF) 0/var(--sx) 100% no-repeat, #f5f5f5;
}

/*ms*/
input[type=range].styled-slider::-ms-fill-upper {
  background: transparent;
  border-color: transparent;
}

input[type=range].styled-slider::-ms-fill-lower {
  background: transparent;
  border-color: transparent;
}

input[type=range].styled-slider::-ms-thumb {
  width: 2em;
  height: 2em;
  border-radius: 1em;
  background: rgb(207 30 90 / 96%);
  border: none;
  box-shadow: 0 0 2px black;
  margin-top: 0;
  box-sizing: border-box;
}

input[type=range].styled-slider::-ms-track {
  height: 1em;
  border-radius: 0.5em;
  background: #FBF2F2;
  border: 1px solid #b2b2b2;
  box-shadow: none;
  box-sizing: border-box;
}

input[type=range].styled-slider:hover::-ms-track {
  background: #e5e5e5;
}

input[type=range].styled-slider:active::-ms-track {
  background: #f5f5f5;
}

input[type=range].styled-slider.slider-progress::-ms-fill-lower {
  height: max(calc(1em - 1px - 1px), 0px);
  border-radius: 0.5em 0 0 0.5em;
  margin: -1px 0 -1px -1px;
  background: #FFFFFF;
  border: 1px solid #b2b2b2;
  border-right-width: 0;
}